input, button, select{
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

#todoAd input{
    width: 50%;
}
#todoAdd{
    margin-left: 15%;
    width: 40%;
    height: 2em;
}

#todoAdd input{
    width: 50%;
}

#todoSearch{
    margin-left: 15%;
}